#header{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav{
    line-height:30px;
    background-color:#eee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section{
    text-align:center;
    float:left;
    padding:10px;
}

#footer{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

table.lamp{
    width:100%;
    border:1px solid #d4d4d4;
}
table.lamp th,td{
    padding:10px;
}
table.lamp td{
    color:#000;
}